
.main-body{
    padding-top: 20px;
    max-width: 1248px;
    margin: 2 auto;
    table, td, th {
       
        border: 2px solid rgb(231, 23, 23);
        color:black;
        text-align: center;
        padding-left: 25px;
        padding-right: 20px;
      }
      
      table {
        border-collapse: collapse;
        width: 100%; 
      }
      th{
        background-color: green;
        color:white;
      }
      
      td {
        text-align: center;
        white-space: nowrap;
      }
    mat-form-field{
        width: 100%;
        
    } 
}