<h1 align ="center" class ="text-primary">Cms Delete Temp Wa Comp Header Params </h1>
<div>
    <table class="container">
        <tr>
            <th> id</th>
            <td>{{deletecmstempwacompheaderparams.id}}</td>
        </tr>
        <tr>
            <th>client_number</th>
            <td>{{deletecmstempwacompheaderparams.client_number}}</td>
        </tr>
        <tr>
            <th>sname</th>
            <td>{{deletecmstempwacompheaderparams.sname}}</td>
        </tr>
        <tr>
            <th>components_id</th>
            <td>{{deletecmstempwacompheaderparams.components_id}}</td>
        </tr>
        <tr>
            <th>type</th>
            <td>{{deletecmstempwacompheaderparams.type}}</td>
        </tr>
        <tr>
            <th>param_name</th>
            <td>{{deletecmstempwacompheaderparams.param_name}}</td>
        </tr>
        <tr>
            <th>currency_fallback_value</th>
            <td>{{deletecmstempwacompheaderparams.currency_fallback_value}}</td>
        </tr>
        <tr>
            <th>current_code</th>
            <td>{{deletecmstempwacompheaderparams.current_code}}</td>
        </tr>
        <tr>
            <th>date_time</th>
            <td>{{deletecmstempwacompheaderparams.date_time}}</td>
        </tr>
        <tr>
            <th>msg_text</th>
            <td>{{deletecmstempwacompheaderparams.msg_text}}</td>
        </tr>
        <tr>
            <th>media_name</th>
            <td>{{deletecmstempwacompheaderparams.media_name}}</td>
        </tr>
        <tr>
            <th>mine_type</th>
            <td>{{deletecmstempwacompheaderparams.mine_type}}</td>
        </tr>
        <tr>
            <th>media_uri</th>
            <td>{{deletecmstempwacompheaderparams.media_uri}}</td>
        </tr>
        <tr>
            <th>enable</th>
            <td>{{deletecmstempwacompheaderparams.enable}}</td>
        </tr>
        <tr>
            <th>is_edit</th>
            <td>{{deletecmstempwacompheaderparams.is_edit}}</td>
        </tr>

    </table>
</div>
<div class="btn-toolbar">
    <button cButton style="float: right; margin-right: 30px;" (click)="deletedoCmsTempWaCompParams()">Delete</button>
    <button cButton class="btn btn-primary" (click)="closeDialog()">Close</button>
</div> <br /><br />
<div *ngIf="!isError && submitted" class="alert alert-primary" role="alert">
    <h2>Cms Delete Temp Wa Comp Header Params is successfully deleted</h2>
</div>
<div *ngIf="isError && submitted" class="alert alert-danger" role="alert">
    <h2>{{error_message}}</h2>
</div>
